.chat-side
  .header
    .header__box
      %p.header__box__user-name ユーザーネーム
      %ul.header__box__menu
        %li.header__box__menu__new-group
          = link_to do
            %i.fa.fa-edit
        %li.header__box__menu__edit-user
          = link_to do
            %i.fa.fa-cog
  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ